body {
    font-family: monospace;
    padding-bottom: 1rem;
}

h1 {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0;
    font-size: large;
    font-weight: bold;
    white-space: pre;
}
span.d {
    color: #808080;
}
h2 {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0 2rem 0 2rem;
    font-size: medium;
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0 2rem 0 2rem;
}
li {
    white-space: pre;
}
li.m {
    margin: 0.5rem 0 0.5rem 0;
}

div#b {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div.m {
    flex: 0 0 auto;
}

p {
    font-family: sans-serif;
}

@media (pointer:coarse) {
    li {
        margin: 0.5rem 0 0.5rem 0;
    }
}
